.container{
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  flex-direction:row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  .loginPanel{
    min-width:600px;
    min-height:300px;
    border-radius:6px;
    border:1px solid #bfcbd9;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    header{
      h3.title{
        text-align: center;
        line-height:80px;
        font-size:30px;
        color:#bfcbd9;
      }
    }
    section.formContainer{
      width:80%;
      margin:0 auto;
    }
  }
}
